{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Блог</h1>
    </div>
</section>
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить статью</a>
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"

                         src="{{ object.image|mediapath }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <a class="card-text" href="{% url 'blog:view' object.pk %}">{{ object }}</a>
                        <p class="card-text">{{ object.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-sm btn-outline-primary"
                                   href="{% url 'blog:view' object.pk %}">View</a>
                                <a type="button" class="btn btn-sm btn-outline-primary"
                                   href="{% url 'blog:edit' object.pk %}">Edit</a>
                                <a type="button" class="btn btn-sm btn-outline-danger"
                                   href="{% url 'blog:delete' object.pk %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}